.div {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;  
    flex-direction: column;
   
}


#text {
    font-size : 3rem;
}

#author {
    justify-content: flex-end;align-items: flex-end; 
}

#button {
    width: 4rem;
    margin: 2rem;
    height: 3.5rem;
}